# Files in rootfs
type adsprpcd_file, file_type;
type bt_firmware_file, file_type;
type firmware_file, file_type;
type persist_file, file_type;
type fac_file, file_type;
type sysfs_graphics, sysfs_type, fs_type;
type fts_sysfs, sysfs_type, fs_type;
