# Files in rootfs
type adsprpcd_file, file_type;
type bt_firmware_file, file_type;
type firmware_file, file_type;
type persist_file, file_type;
type fac_file, file_type;
type sysfs_touchpanel, sysfs_type, fs_type;

# FTS Gesture
type fts_gesture, file_type;
allow system_server fts_gesture:file { getattr open read write };
