type hal_light_Z01R, coredomain, domain;

# Allow a base set of permissions required for a domain to offer a
# HAL implementation of the specified type over HwBinder.
typeattribute hal_light_Z01R halclientdomain;
typeattribute hal_light_Z01R hal_light_client;

# HwBinder IPC from client to server, and callbacks
binder_call(hal_light_client, hal_light_server)
binder_call(hal_light_server, hal_light_client)

add_hwservice(hal_light_server, hal_light_hwservice)
allow hal_light_client hal_light_hwservice:hwservice_manager find;

type hal_light_Z01R_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_light_Z01R)

# Light Hal
allow hal_light_Z01R sysfs_graphics:dir search;
allow hal_light_Z01R sysfs_graphics:file rw_file_perms;
allow hal_light_Z01R sysfs_leds:dir search;
