on init
    mount none /dev/null /vendor/app/Zenimoji/Zenimoji.apk bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind
    chmod 0440 /proc/cmdline

on boot
on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

on property:sys.boot_completed=1
    umount /vendor/xrom