on boot
    # FocalTech Gesture
    # /sys/devices/platform/soc/894000.i2c/i2c-3/3-0038/
    chown system system /sys/devices/platform/soc/0.goodix_gf5228/proximity_state
    chmod 0660 /sys/devices/platform/soc/0.goodix_gf5228/proximity_state

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150
