on boot
	chown system system /sys/class/backlight/panel0-backlight/brightness
	chown system system /sys/class/backlight/panel0-backlight/max_brightness

	chown system system /sys/class/leds/red/brightness
	chown system system /sys/class/leds/green/brightness

	chown system system /sys/class/leds/red/pwm_us
	chown system system /sys/class/leds/green/pwm_us

	chmod 0666 /sys/class/backlight/panel0-backlight/brightness

	chmod 0664 /sys/class/leds/red/brightness
	chmod 0664 /sys/class/leds/green/brightness

	chmod 0664 /sys/class/leds/red/pwm_us
	chmod 0664 /sys/class/leds/green/pwm_us

service vendor.light-default /vendor/bin/hw/android.hardware.light-service.asus_Z01R
    class hal
    user system
    group system
    shutdown critical
